<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="text-align:center;">
    <h1>
        <%= userData.id %>
    </h1>
    <p><b>First name :</b>
        <%= userData.first_name %>
    </p>
    <p><b>Last name :</b>
        <%= userData.last_name %>
    </p>
    <p><b>Phone :</b>
        <%= userData.phone %>
    </p>
    <p><b>Email :</b>
        <%= userData.email %>
    </p>

</body>

</html>